<div class="container" xmlns:th="http://www.thymeleaf.org">
    <h1 style="color: teal" class="text-center">ARE YOU SURE?</h1>
    <form th:action="@{/employee/delete}" method="post">
        <input type="hidden" name="employeeId" th:value="${employee.employeeId}">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Employee ID</th>
                <th th:text="${employee.employeeId}"></th>
            </tr>
            <tr>
                <th>Employee Name</th>
                <th th:text="${employee.employeeName}"></th>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </td>
                <td>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </td>
            </tr>
            </thead>
        </table>
    </form>
</div>