<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head_fragment}"></head>
<body>

<div class="container-fluid justify-content-center m-0 p-0">

<!--    head_navbar-->
    <div th:replace="~{layout :: head_navbar}"></div>

<!--    add new employee-->
    <div class="m-3 row text-center">
        <div class="col">
            <a th:href="@{/employee/create}" class="text-decoration-none">
                <button class="btn btn-success"
                        sec:authorize="hasAnyAuthority('ROLE_DIRECTOR','ROLE_MANAGER','ROLE_ADMIN')"
                        title="Create Employee">
                    <i class="far fa-plus-square"></i>
                </button>
            </a>
        </div>
        <div class="col-11">
            <h1 style="color: teal">LIST EMPLOYEE</h1>
        </div>
    </div>

<!--    message-->
    <div th:if="${message}">
        <div id="alertEmployeeFade" class="alert alert-success alert-dismissible fade show font-weight-bold">
            <button type="button" class="close float-right" data-dismiss="alert">&times;</button>
            <span th:text="${message}"></span>
        </div>
    </div>

<!--    table-->
    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No</th>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Position</th>
                <th>Division</th>
                <th>Degree</th>
                <th>ID Card</th>
                <th>Salary</th>
                <th>Phone</th>
                <th hidden>Email</th>
                <th hidden>Address</th>
                <th hidden>Username</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="employee, iteStat : ${listEmployee}">
                <tr>
                    <td th:text="${iteStat.count}"></td>
                    <th th:text="${employee.employeeId}"></th>
                    <td th:text="${employee.employeeName}"></td>
                    <td th:text="${employee.employeeBirthday}"></td>
                    <td th:text="${employee.position.positionName}"></td>
                    <td th:text="${employee.division.divisionName}"></td>
                    <td th:text="${employee.educationDegree.educationDegreeName}"></td>
                    <td th:text="${employee.employeeIdCard}"></td>
                    <td th:text="${employee.employeeSalary}"></td>
                    <td th:text="${employee.employeePhone}"></td>
                    <td hidden th:text="${employee.employeeEmail}"></td>
                    <td hidden th:text="${employee.employeeAddress}"></td>
                    <td hidden th:text="${employee.user.username}"></td>
                    <td>
                        <button class="viewEmployeeButton btn btn-info btn-sm"
                                sec:authorize="hasAnyAuthority('ROLE_DIRECTOR','ROLE_MANAGER','ROLE_ADMIN','ROLE_EMPLOYEE')"
                                title="View Employee"
                                th:value="${employee.employeeId}" type="button">
                            <i class="far fa-eye"></i>
                        </button>
                        <a th:href="@{/employee/edit(id=${employee.employeeId})}" class="text-decoration-none">
                            <button class="btn btn-warning btn-sm"
                                    sec:authorize="hasAnyAuthority('ROLE_DIRECTOR','ROLE_MANAGER')"
                                    title="Edit Employee" type="button">
                                <i class="fas fa-edit"></i>
                            </button>
                        </a>
                        <button class="deleteEmployeeButton btn btn-danger btn-sm"
                                sec:authorize="hasAnyAuthority('ROLE_DIRECTOR','ROLE_MANAGER')"
                                title="Delete Employees"
                                th:value="${employee.employeeId}" type="button">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <a th:href="@{/employee/changePw(id=${employee.employeeId})}"
                           th:if="${employee.employeeId == employeeSession.employeeId}"
                           sec:authorize="hasAnyAuthority('ROLE_EMPLOYEE','ROLE_ADMIN','ROLE_MANAGER','ROLE_DIRECTOR')"
                           class="text-decoration-none">
                            <button class="btn btn-outline-danger btn-sm"
                                    title="Change Password" type="button">
                                <i class="fas fa-unlock-alt"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

<!--    pageable-->
    <div class="text-center m-3">
        <a class="text-decoration-none"
           th:href="@{'/employee'(page=${listEmployee.number - 1})}"
           th:if="${listEmployee.hasPrevious()}">
            <button class="btn btn-outline-danger rounded-circle" title="Previous Pages">
                <i class="fas fa-fast-backward"></i>
            </button>
        </a>
        <button class="btn btn-outline-danger rounded-pill col-1">
            <span th:text="${listEmployee.number + 1}"></span>
            /
            <span th:text="${listEmployee.totalPages}"></span>
        </button>
        <a class="text-decoration-none"
           th:href="@{'/employee'(page=${listEmployee.number + 1})}"
           th:if="${listEmployee.hasNext()}">
            <button class="btn btn-outline-danger rounded-circle" title="Next Page">
                <i class="fas fa-fast-forward"></i>
            </button>
        </a>
    </div>

</div>

<div th:replace="~{layout :: modal}"></div>
<div th:replace="~{layout :: script_link}"></div>
<div th:replace="~{layout :: emp_func_script}"></div>
<div th:replace="~{layout :: footer}"></div>

</body>
</html>